# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2023 Maciej Baczmanski, Michal Kawiak, Jakub Mazur
#

menu "Motor controller configuration"

config ENC_TIMER_PERIOD_MS
	int "Sampling period for continuous speed and position calculation"
	default 100

config SUPPORTED_CHANNEL_NUMBER
	int "number of motor channels supported by the hardware"
	default 2

rsource "Kconfigs/Kconfig.motor"
rsource "Kconfigs/Kconfig.serial_shell"
rsource "Kconfigs/Kconfig.ble_gatt"
rsource "Kconfigs/Kconfig.templates"

rsource "Kconfigs/Kconfig.speed_cntrl"
rsource "Kconfigs/Kconfig.position_cntrl"

endmenu

source "Kconfig.zephyr"
