menu "Speed Control Configuration"

config KP_NUMERATOR_FOR_SPEED
	int "proportional part numerator for speed control"
	default 4

config KP_DENOMINATOR_FOR_SPEED
	int "proportional part denominator for speed control"
	default 10

endmenu
