menu "Speed Control Configuration"

config SPEED_CONTROL_ENABLE
	bool "Enable functions responsible for speed control, like mode speed, \
	     speed set, etc."
	default y

if SPEED_CONTROL_ENABLE
config KP_NUMERATOR_FOR_SPEED
	int "proportional part numerator for speed control"
	default 4

config KP_DENOMINATOR_FOR_SPEED
	int "proportional part denominator for speed control"
	default 10
endif

endmenu
